# Transformation tests
Creates a new dataset with the stationarity tests for each of the series.

In [1]:
import sys
sys.path.append('../')

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

from utils.TimeSeriesStationarizer import TimeSeriesStationarizer as TSS 
from utils.DataImport import DataImport

In [2]:
df_montly = DataImport.read_monthly()
df_quart = DataImport.read_quarterly()

In [3]:
df_montly

,package,date,series,series_id,series_type,frequency,value,unit,category
0,readabs,1978-02-01 00:00:00,Employed total ; Persons ; (SA),A84423043C,Seasonally Adjusted,Monthly,5997.553494,000,Labour force
1,readabs,1978-02-01 00:00:00,> Employed full-time ; Persons ; (SA),A84423041X,Seasonally Adjusted,Monthly,5079.454587,000,Labour force
2,readabs,1978-02-01 00:00:00,> Employed part-time ; Persons ; (SA),A84423042A,Seasonally Adjusted,Monthly,918.098907,000,Labour force
3,readabs,1978-02-01 00:00:00,Employment to population ratio ; Persons ; (SA),A84423054K,Seasonally Adjusted,Monthly,57.177661,Percent,Labour force
4,readabs,1978-02-01 00:00:00,Unemployed total ; Persons ; (SA),A84423046K,Seasonally Adjusted,Monthly,426.852058,000,Labour force
...,...,...,...,...,...,...,...,...,...
57176,yahoofinancer,2023-06-01 04:00:00,Gold price (ORIG),GC=F,Original,Monthly,1921.099976,USD per ounce,Prices
57177,yahoofinancer,2023-07-01 04:00:00,Gold price (ORIG),GC=F,Original,Monthly,1970.500000,USD per ounce,Prices
57178,yahoofinancer,2023-08-01 04:00:00,Gold price (ORIG),GC=F,Original,Monthly,1938.199951,USD per ounce,Prices
57179,yahoofinancer,2023-09-01 04:00:00,Gold price (ORIG),GC=F,Original,Monthly,1848.099976,USD per ounce,Prices
57180,yahoofinancer,2023-11-01 04:00:00,Gold price (ORIG),GC=F,Original,Monthly,2038.099976,USD per ounce,Prices

## Monthly data

In [40]:
m_series_id = df_montly['series_id'].unique() 

monthly_tests_df = pd.DataFrame(columns=['series_id', 'original', 'Dx', "D2x", "Lx", "DLx", "D2Lx", "Dxx"])
monthly_tests_df

Empty DataFrame
Columns: [series_id, original, Dx, D2x, Lx, DLx, D2Lx, Dxx]
Index: []

In [56]:
def get_stationarized_df(df, series_id):
    mts_stationarizer = TSS(df, series_id=series_id)
    stationarized_df = mts_stationarizer.stationarize_all(output=False)
    stationarized_dict = stationarized_df.set_index('Transformation').to_dict()['Stationary']
    stationarized_dict['series_id'] = series_id
    return stationarized_dict

for id in m_series_id:
    try:
        stationarized_dict = get_stationarized_df(df_montly, id)
        monthly_tests_df = pd.concat([monthly_tests_df, pd.DataFrame([stationarized_dict])], ignore_index=True)
    except:
        print(f"Series {id} could not be stationarized")
        stationarized_dict = {'series_id': id, 'original': np.nan, 'Dx': np.nan, 'D2x': np.nan, 'Lx': np.nan, 'DLx': np.nan, 'D2Lx': np.nan, 'Dxx': np.nan}
        monthly_tests_df = pd.concat([monthly_tests_df, pd.DataFrame([stationarized_dict])], ignore_index=True)
        continue

/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/numpy/lib/function_base.py:1452: RuntimeWarning: invalid value encountered in subtract
  a = op(a[slice1], a[slice2])

Series FOOIREARR could not be stationarized
Series FOOIRJTCR could not be stationarized

/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/numpy/lib/function_base.py:1452: RuntimeWarning: invalid value encountered in subtract
  a = op(a[slice1], a[slice2])
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/numpy/lib/function_base.py:1452: RuntimeWarning: invalid value encountered in subtract
  a = op(a[slice1], a[slice2])

Series FNFNA12M could not be stationarized

/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/numpy/lib/function_base.py:1452: RuntimeWarning: invalid value encountered in subtract
  a = op(a[slice1], a[slice2])
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/numpy/lib/function_base.py:1452: RuntimeWarning: invalid value encountered in subtract
  a = op(a[slice1], a[slice2])
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/numpy/lib/function_base.py:1452: RuntimeWarning: invalid value encountered in subtract
  a = op(a[slice1], a[slice2])

Series FNFNBBB12M could not be stationarized
Series FNFNBBB7M could not be stationarized
Series FNFNBBB10M could not be stationarized

In [57]:
monthly_tests_df

      series_id original   Dx  D2x   Lx  DLx D2Lx  Dxx
0    A84423043C       No  Yes  Yes   No  Yes  Yes  Yes
1    A84423041X       No  Yes  Yes   No  Yes  Yes  Yes
2    A84423042A       No  Yes  Yes   No  Yes  Yes  Yes
3    A84423054K       No  Yes  Yes   No  Yes  Yes  Yes
4    A84423046K      Yes  Yes  Yes  Yes  Yes  Yes  Yes
..          ...      ...  ...  ...  ...  ...  ...  ...
456       ^N225       No  Yes  Yes   No  Yes  Yes  Yes
457       ^KS11       No  Yes  Yes   No  Yes  Yes  Yes
458        ^HSI       No  Yes  Yes  Yes  Yes  Yes  Yes
459   000001.SS      Yes  Yes  Yes   No  Yes  Yes  Yes
460        GC=F       No  Yes  Yes   No  Yes  Yes  Yes

[461 rows x 8 columns]

In [46]:
monthly_tests_df.to_csv('../../data/processed/monthly_stationarity_tests.csv', index=False)

## Quarterly data

In [47]:
q_series_id = df_quart['series_id'].unique()

quarterly_tests_df = pd.DataFrame(columns=['series_id', 'original', 'Dx', "D2x", "Lx", "DLx", "D2Lx", "Dxx"])
quarterly_tests_df

Empty DataFrame
Columns: [series_id, original, Dx, D2x, Lx, DLx, D2Lx, Dxx]
Index: []

In [58]:
for id in q_series_id:
    try:
        stationarized_dict = get_stationarized_df(df_quart, id)
        quarterly_tests_df = pd.concat([quarterly_tests_df, pd.DataFrame([stationarized_dict])], ignore_index=True)
    except:
        print(f"Series {id} could not be stationarized")
        stationarized_dict = {'series_id': id, 'original': np.nan, 'Dx': np.nan, 'D2x': np.nan, 'Lx': np.nan, 'DLx': np.nan, 'D2Lx': np.nan, 'Dxx': np.nan}
        quarterly_tests_df = pd.concat([quarterly_tests_df, pd.DataFrame([stationarized_dict])], ignore_index=True)
        continue

/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

Series A2323382F could not be stationarized

/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

Series A2303383K could not be stationarized

/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

Series A2304084C could not be stationarized

/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/joepaul/miniforge3/lib/python3.10/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [59]:
quarterly_tests_df

       series_id original   Dx  D2x  Lx  DLx D2Lx  Dxx
0      A2304402X       No  Yes  Yes  No  Yes  Yes  Yes
1      A2304404C       No  Yes  Yes  No  Yes  Yes  Yes
2      A3606056V       No  Yes  Yes  No  Yes  Yes  Yes
3      A2304408L       No  Yes  Yes  No  Yes  Yes  Yes
4      A2304410X       No   No  Yes  No  Yes  Yes  Yes
..           ...      ...  ...  ...  ..  ...  ...  ...
321      BHFDDIO       No   No  Yes  No   No  Yes  Yes
322      FREREWI       No  Yes  Yes  No  Yes  Yes  Yes
323      FRERIWI       No  Yes  Yes  No  Yes  Yes  Yes
324      FRERTWI       No  Yes  Yes  No  Yes  Yes  Yes
325  BSPNSHUDSYP       No  Yes  Yes  No  Yes  Yes  Yes

[326 rows x 8 columns]

In [61]:
quarterly_tests_df.to_csv('../../data/processed/quarterly_stationarity_tests.csv', index=False)